<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body {font-family: Arial, Helvetica, sans-serif;}

.navbar {
  width: 100%;
  background-color: #555;
  overflow: auto;
}

.navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #000;
}

.active {
  background-color: #4CAF50;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}
</style>
<body>
<div class="navbar">
  <a href="/home"><i class="fa fa-fw fa-home"></i> Home</a> 
  <a href="/load"><i class="fa fa-fw fa-check-circle" ></i> Signature Verify</a> 
  <a href="/upload"><i class="fa fa-fw fa-upload"></i> upload</a> 
  <a href="/home"><i class="fa fa-fw fa-user"></i> Login</a>
</div>

</body>
</html> 