<!DOCTYPE HTML>
<html lang="en">

    <head>
        <title>Signature Recogintion</title>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="static/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="static/css/bootstrap-slider.css"/>
        <link rel="stylesheet" href="static/css/style.css"/>
        <script type="text/javascript" src="static/js/jquery.min.js"></script>
        <script type="text/javascript" src="static/js/bootstrap-slider.min.js"></script>
        <script type="text/javascript" src="static/js/app.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    </head>
   
    <body>    
            <!--<div class="head-wrap">-->
            <br>
            <!--
                <h1>Signature Recogonition</h1>
            </div> -->
            
            {% include 'nav.html' %}
                <br>
                <br>
                <br>
                <br>
              <center>     
            <h1 align = "center"> Welcome to AXIS Bank Hackthon </h1></center>
            
        
</html>